* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* التعديل ما زبط معي زبط احول لموبايل بس لما اكبر ما برجع desktops */
:root {
    --white-color: #ffffff;
    --background-color: #f8fafc;
    --foreground-color: #1e293b;
    --primayr-color: #590194;
    --primayr-light-color: #9b5eeb;
    --primayr-dark-color: #8c34b4;
    --primayr-color-opacity: rgb(70, 10, 143.0, 25);
    --text-color: #94a3b8;

    /* mobile first */
    html {
        font-size: 9px;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-size: 1.6em;
        background-color: var(--background-color);
        display: flex;

    }

    svg {
        width: 2rem;
        height: 2rem;
    }

    .score-result,
    .score-summary {
        flex: 1;
    }

    .score-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        margin: auto;
    }

    .score-result {
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }

    /* .score-card,
    .score-result {
        border-radius: 4rem;


    } */

    .score-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        /* للتدرج اللوني
    linear-gradient:1.deg (درجة الاتجاه  تكون نص او رقم,color1,color2 */
        background-image: linear-gradient(to top, var(--primayr-color), var(--primayr-light-color));
        padding: 4rem;


    }

    .score-result,
    .score-summary {
        padding: 4rem;
    }

    .score-result h2 {
        font-weight: 500;

        color: var(--white-color);
        opacity: 0.75;
    }

    .score-result h2,
    .score-summary h2 {
        font-size: 2.4rem;
    }

    .score-result-numbers p,
    .score-result-text h1,
    .score-result-text p {
        text-align: center;

    }

    .score-result-numbers {
        --size: 20rem;
        width: var(--size);
        height: var(--size);
        gap: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 1.2rem; */
        border-radius: 100%;
        color: var(--white-color);
        background-image: linear-gradient(to bottom, var(--primayr-dark-color), var(--primayr-color-opacity));
        padding: 4rem;
    }

    .score-result-main {
        font-size: 7.2rem;
        font-weight: 700;
    }

    .score-result-opacity {
        font-size: 1.8rem;
        /* font-weight: 400; */
        opacity: 0.5;
    }

    .score-summary {
        display: flex;
        flex-direction: column;
        background-color: var(--white-color);
        gap: 2rem;
    }

    .score-result-text h1 {
        font-size: 3.2rem;
        font-weight: 600;
        color: var(--white-color);
        margin-bottom: 1.6rem;

    }

    .score-result-text p {
        width: 100%;
        max-width: 28rem;
        font-size: 1.8rem;
        color: white;
        margin-bottom: 2rem;
        opacity: 0.6;
    }

    .score-summary h2 {
        font-weight: 600;
        color: var(--foreground-color);
        margin-bottom: 2rem;
    }

    .score-summary-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    .score-summary-list li {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        padding: 1.6rem 2rem;
        /* justify-content: space-between;  بتوزع الكل  */
        color: var(--list-color);
        background-color: var(--list-item-color);
        border-radius: 1.2rem;
    }

    .score-summary-list li.red {
        --list-color: #ef4444;
        --list-item-color: #fef2f2;
    }

    .score-summary-list li.yellow {
        --list-color: #eab308;
        --list-item-color: #fefce8;
    }

    .score-summary-list li.green {
        --list-color: #22c55e;
        --list-item-color: #ecfdf5;
    }

    .score-summary-list li.blue {
        --list-color: #3b82f6;
        --list-item-color: #eff6ff;
    }

    .score-summary-list li svg {
        --size: 2rem;
        width: var(--size);
        height: var(--size);
    }

    .score-summary-list li h3 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .score-summary-list li p {
        font-weight: 600;
        color: var(--foreground-color);
        /* align-self: flex-end;  ما تزبط لانها هاد بال main مش بال cross  */
        /* كل شي حوالبه جهة اليسار صار */
        margin-left: auto;
    }

    .score-summary-list li p span {
        color: var(--foreground-color);
    }

    .slash,
    .total-result {
        opacity: 0.5;
    }

    .slash {
        margin: 0 0.4rem;
    }

    .button-primary {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--white-color);
        background-color: var(--foreground-color);
        border: none;
        border-radius: 10rem;
        padding: 1.6rem;
        margin-top: auto;
    }

    /* media quaries */
    @media only screen and(min-width:540px) {
        .score-result-text p {
            max-width: 40rem;
        }
    }

    /* Tablet design */
    @media only screen and(min-width:768px) {
        .score-card {
            flex-direction: row;
        }


        .score-card,
        .score-result,
        .score-summary {
            border-radius: 4rem;
        }

        .score-result-text p {
            max-width: 28rem;
        }
    }

    /* Desktop design */
    @media only screen and(min-width:1024px) {}